.naan-content {
	display: block;
	.naan-weather {
		height: 43vh;
		text-align: center;
		position: relative;
	}
	.naan-emoji {
		background: _palette(fg);
		height: 57vh;
		text-align: center;
		position: relative;
	}
	.emoji-content {
		img {
			width: 100%;
		}
		.click-x {
			cursor: not-allowed;
		}
	}
	.emoji-container {
		background: _palette(fg);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 100%;
	}
	@include breakpoint(xsmall) {
		display: none;
	}
}

#weather {
	@include fontsize(alpha, all);
}
.weather-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#temperature {
	@include fontsize(alpha, all);
}