.naan-content-panel {
	background: _palette(fg);
	display: block;
	.naan-weather {
		height: 35vh;
		text-align: center;
		position: relative;
	}
	.naan-emoji {
		height: 65vh;
		text-align: center;
		position: relative;
	}
	@media screen and (max-width: 1680px) and (min-width: 481px) {
		.panel-emoji, .panel-playing-list {
			@include vendor('transition', (
				'opacity #{_duration(cal_y)} ease',
				'transform #{_duration(cal_y)} ease-in-out',
			));
			z-index: 9999;
			text-align: center;
			display: flex;
			flex-direction: column;
			top: 130%; right: 0; bottom: 0; left: 0;
			margin: 0 auto;
			@include vendor('transform', 'translateX(-20em)');
			opacity: 0;
			padding-top: 5rem;
			position: fixed;
			.emoji-container {
				width: initial;
			}
			&.loaded {
				@include vendor('transition', (
					'opacity #{_duration(cal_y)} ease',
					'transform #{_duration(cal_y)} ease-in-out',
				));
				@include vendor('transform', 'translateX(0%)');
				opacity: 1;
				padding: 0;
				position: initial;
				.emoji-container {
					width: 100%;
				}
			}
		}
	}
}
#weather-comments {
	margin-left: 20px;
	text-align: left;
	.naan-icon {
		@include fontsize(alpha, all);
	}
	p {
		@include fontsize(eta, all);
		color: _palette(fg-bold);
		span {
			text-transform: uppercase;
		}
	}
}
#weather-details {
	@include fontsize(zeta, all);
	width: 100%;
	height: 100px;
	.location {
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}
	.temperature {
		float: right;
		display: inline-block;
		margin-right: 20px;
		margin-top: 20px;
		img {
			@include widthsize(zeta, all);
		}
	}
}

.emoji-content {
	img {
		width: 100%;
	}
	.click-x {
		cursor: not-allowed;
	}
}
.emoji-container {
	background: _palette(fg);
	position: absolute;
	top: 50%;
	left: 50%;
	@include vendor("transform", "translate(-50%, -50%)");
	text-align: center;
	padding: 1.5vmax;
}
.emoji-wrapper {
	margin-top: 1rem;
	padding: 2vmax;
}
.emoji-header {
	@include fontsize(eta, all);
	color: _palette(fg-bold);
	text-align: left;
}
@include breakpoint(large) {
	.emoji-container {
		padding: 3vmax;
	}
}
@include breakpoint(xsmall) {
	.naan-weather {
		display: none;
	}
}
