.track-list {
	text-align: left;
	padding: 1.9rem;
}
.track-thumb, .track-list-details {
	display: inline-block;
}
.track-thumb {
	vertical-align: middle;
	img {
		@include widthsize(alpha, all);
		border-radius: 100px;
		vertical-align: middle;
	}
}
.track-list-details {
	font-size: 80%;
	margin-left: 0.6rem;
	box-shadow: 0 1px 0 0 #e6e6e6;
	vertical-align: middle;
	padding: 0.6rem 0;
	.title {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		word-wrap: normal;
		width: 250px;
	}
	.author {
		color: _palette(fg-bold);
		margin-top: 0.3rem;

	}
	hr {
		border: 1px solid grey;
	}
	.title, .author, hr {
		line-height: 110%;
	}
}