.naan-content {
	display: block;
	.naan-weather {
		height: 35vh;
		text-align: center;
		position: relative;
		background: _palette(fg);
	}
	.naan-emoji {
		background: _palette(fg);
		height: 65vh;
		text-align: center;
		position: relative;
	}
}
#weather-comments {
	margin-left: 20px;
	text-align: left;
	.naan-icon {
		@include fontsize(alpha, all);
	}
	p {
		@include fontsize(eta, all);
		color: _palette(fg-bold);
	}
}
#weather-details {
	@include fontsize(zeta, all);
	width: 100%;
	height: 100px;
	.location {
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}
	.temperature {
		float: right;
		display: inline-block;
		margin-right: 20px;
		margin-top: 20px;
		img {
			@include widthsize(zeta, all);
		}
	}
}

.emoji-content {
	// margin-top: 10px;
	img {
		width: 100%;
	}
	.click-x {
		cursor: not-allowed;
	}
}
.emoji-container {
	background: _palette(fg);
	position: absolute;
	top: 50%;
	left: 50%;
	@include vendor("transform", "translate(-50%, -50%)");
	text-align: center;
	width: 100%;
	padding: 1.5vmax;
}
.emoji-wrapper {
	margin-top: 1rem;
	padding: 2vmax;
}
.emoji-header {
	@include fontsize(eta, all);
	color: _palette(fg-bold);
	text-align: left;
}
@include breakpoint(large) {
	.emoji-container {
		padding: 3vmax;
	}
}
@include breakpoint(xsmall) {
	.naan-weather {
		display: none;
	}
}
