.player-nav-mobile {
	display: none;
}
.player-nav {
	.naan-icon {
		&:nth-of-type(1) {
			float:left;
			margin-left:20px;
			margin-top:20px;
			font-size:2rem;
		}
		&:nth-of-type(2) {
			float:right;
			margin-right:20px;
			margin-top:20px;
			font-size:2rem;
		}
	}
}
.player-header {
	.track-title {
		@include fontsize(gamma, all);
	}
	.track-author {
		@include fontsize(delta, all);
		margin: 2rem;
		color: _palette(fg-bold);
	}
}
.naan-player {
	background: _palette(bg);
	height: 100vh;
	text-align: center;
	position: relative;
	padding-left: 0;
}
.player-cover {
	background: linear-gradient(to right, rgba(63, 193, 255, 0.0), #C3D644 36%, #C3D644 56%, rgba(63, 193, 255, 0.0));
	min-width: 800px;
	min-height: 300px;
	-webkit-mask-image: url('/src/images/liquid_bg.png');
	-webkit-mask-position: center center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	position: relative;
	img {
		width: 220px;
		border-radius: 10rem;
		position: absolute;
		top: 50%;
		left: 50%;
		@include vendor("transform", "translate(-50%, -50%)");
	}
}
.player-container {
	position: absolute;
	top: 50%;
	left: 50%;
	@include vendor("transform", "translate(-50%, -50%)");
	text-align: center;
	width: 100%;
}
.player-control {
	@include fontsize(alpha, all);
	margin-top: 2rem;
	.naan-icon {
		font-size: 140%;
		&:nth-of-type(2),
		&:nth-of-type(3) {
			padding-left: 5rem;
		}
	}
}
@include breakpoint(xsmall) {
	.row {
		margin-left: 0px;
	}
	.player-nav {
		display: none;
	}
	.player-nav-mobile {
		display: initial;
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		.naan-icon {
			&:nth-of-type(1) {
				float:left;
				margin-left:3rem;
				margin-bottom:3rem;
				font-size:2.5rem;
			}
			&:nth-of-type(2) {
				float:right;
				margin-right:3rem;
				margin-bottom:3rem;
				font-size:2.5rem;
			}
		}
	}
}