<div class="container" *ngIf="weather">
	<div class="row">
		<div class="3u 5u(large) naan-content">
			<div class="naan-weather">
				<div class="weather-container">
					<div id="weather">
						<span class="naan-icon naan-iconicn_{{weather.keyword}}"></span>
					</div>
					<div id="temperature">
						<span> {{weather.temperature}} °C</span>
					</div>
				</div>
			</div>
			<div class="naan-emoji">
				<div class="emoji-container">
					<div class="emoji-header">
						<span>어떤 감정이신가요?</span>
					</div>
					<div class="emoji-wrapper">
						<div class="row">
							<div class="emoji-content 4u" *ngFor="let emoji of emojis">
								<img src={{emoji.src}} *ngIf="emoji.name&&emoji.name!=selectedEmoji" class="click-o" (click)="onClickEmoji(emoji.name); $event.stopPropagation()"/>
								<img src={{emoji.src}} *ngIf="emoji.name&&emoji.name==selectedEmoji" class="click-o" (click)="onClickEmoji(emoji.name); $event.stopPropagation()" style="opacity:0.2;"/>
								<img src={{emoji.src}} *ngIf="emoji.name==''"  class="click-x"/>
								<div class="emoji-text">{{emoji.describe}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="9u 7u(large) 12u$(xsmall) naan-player overlay">
			<div class="player-nav">
				<span class="naan-icon naan-iconbtn_more click-o"></span>
				<span class="naan-icon naan-iconbtn_list click-o"></span>
			</div>
			<div class="player-container overlay">
				<div *ngIf="track" class="player-header">
					<h2 class="track-title">{{track.title}}</h2>
					<h3 class="track-author">{{track.author}}</h3>
				</div>
				<article class="player-cover">
					<img *ngIf="!selectedEmoji" src="/src/images/profile.png"/>
					<img *ngIf="selectedEmoji" src="/src/images/weather/{{weather.keyword}}-{{selectedEmoji}}.jpg" />
				</article>
				<div *ngIf="selectedEmoji" class="player-control">
					<span id="btnPrev" class="naan-icon naan-iconbtn_backward naan-player click-o" (click)="onClickPrevBtn(); $event.stopPropagation()"></span>
					<span id="btnPlay" *ngIf="!playFlag" class="naan-icon naan-iconbtn_play naan-player click-o" (click)="onClickPlayBtn(); $event.stopPropagation()"></span>
					<span id="btnPause" *ngIf="playFlag" class="naan-icon naan-iconbtn_pause naan-player click-o" (click)="onClickPauseBtn(); $event.stopPropagation()"></span>
					<span id="btnNext" class="naan-icon naan-iconbtn_forward naan-player click-o" (click)="onClickNextbtn(); $event.stopPropagation()"></span>
				</div>
			</div>
			<div class="player-nav-mobile">
				<span class="naan-icon naan-iconbtn_list click-o"></span>
				<span class="naan-icon naan-iconbtn_more click-o" id="emoji-mobile-popup"></span>
			</div>
		</div>
	<!-- 	<div *ngIf="selectedEmoji" class="naan-tracks">
			<div class="header">
				<h2>Now </h2>
				<h2>playing list </h2>
			</div>
			<div class="track-list">
				<div *ngFor="let track of tracks;let i=index;">
					<div>
						<img class="track-thumb" height="50px;" src={{track.artwork_url}}/>
					</div>
					<div>
						<span>{{track.title}}</span>
						<span>{{track.author}}</span>
					</div>
			</div>
		</div> -->
	</div>
</div>
