// Icons

@font-face {
  font-family: 'naan-icon';
  src:  url('src/assets/fonts/naan-icon.eot?7sbxt8');
  src:  url('src/assets/fonts/naan-icon.eot?7sbxt8#iefix') format('embedded-opentype'),
    url('src/assets/fonts/naan-icon.ttf?7sbxt8') format('truetype'),
    url('src/assets/fonts/naan-icon.woff?7sbxt8') format('woff'),
    url('src/assets/fonts/naan-icon.svg?7sbxt8#naan-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.naan-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'naan-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.naan-iconequalizer_icn:before {
  content: "\e904";
  color: #fff;
}
.naan-iconcircles-dash .path1:before {
  content: "\e901";
  color: rgb(255, 82, 82);
}
.naan-iconcircles-dash .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 171, 64);
}
.naan-iconcircles-dash .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(64, 196, 255);
}
.naan-iconrefresh-icn:before {
  content: "\e900";
  color: #747474;
}
.naan-iconbtn_pause:before {
  content: "\e907";
  color: #747474;
}
.naan-iconbtn_play:before {
  content: "\e908";
  color: #747474;
}
.naan-iconbtn_list:before {
  content: "\e909";
  color: #747474;
}
.naan-iconbtn_backward:before {
  content: "\e90a";
  color: #747474;
}
.naan-iconbtn_forward:before {
  content: "\e90b";
  color: #747474;
}
.naan-iconbtn_more:before {
  content: "\e90c";
  color: #747474;
}

